*{
	margin: 0;
	padding: 0;
}
header{
	background-color: #333;
	height: 60px;
}
header>h1{
	margin-left: 20px;
	float: left;
	color: red;
	height: 60px;
	line-height: 60px;
}
header ul{
	float: right;
	width: 400px;
	height:60px;
	line-height: 60px;
}
header ul li{
	float: left;
	margin-left: 30px;
}
header>ul>li>a{
	text-decoration: none;
	color: #ccc;
	font-size: 12px;
}
header>ul>li>a:hover{
	color: #fff;
}
body{
	
}
main{
	clear: both;
	background-color: #dedede;
	padding: 20px;
}
article{
	box-shadow:2px 5px 5px #aaaaaa; ;
	background-color: #FFFFFF;
	padding: 20px;
	margin-bottom: 20px;
}
article>h1{
	
}
article > h2{
	font-size: 14px;

}
article > p{
	text-indent: 2em;
}
article > ul > li{
	margin-left: 20px;
	list-style: none;
}
article > figure{
	width: 120px;
	height: 125px;
	border: 1px solid #ccc;
	margin-top: 20px;
	margin-left: 40px;
}
article > figure > img{
	width: 100px;
	height: 80px;
	margin: 10px auto;
	display: block;
}
article > figure > figcaption{
	text-align: center;
	font-size:10px ;
	margin-top: 10px;
}
table{
	width: 100%;
	border-collapse:collapse;
}
table  tr{
	height: 23px;
}
th,td{
	padding: 5px;
	border: 1px solid #cacac8;
}
th{
	background-color: black;
	color: white;
	text-align: left;
}
td{
	border-collapse:collapse;
}
tr:last-child{
	background-color: #cccccc;
	font-weight: bold;
}
ol>li{
	margin-left: 45px;
}
footer{
	padding-top: 20px;
	color: white;
    background-color: black;
    text-align: center;
    font-size: 13px;
    height: 70px;
}
