body{
	height: 1386px;
	width: 980px;
	margin: 0 auto;
}
header{
	height: 60px;
	width: 892px;
	margin: 0 auto;
	font-family: simhei;
	border-bottom: 1px solid #938e8c;
}
header> nav{
	height: 60px;
	width: 110px;
	background-color: #d45d5c;
}
header > nav > a{
	display: block;
	margin-left: 7px; 
	font-size: 12px;
	text-decoration: none;
	color: white;
	padding-top: 44px;
}
header > p{
	float: right;
	margin-top:44px;
	color: #d76867;
	font-size: 10px;
}
main{
	margin: 0 auto;
	border-top:1px solid #938e8c;
	width: 892px;
}
.top{
	margin-top: 35px;
}
.top_left{
	float:left;
	width: 641px;
	height: 301px;
	background-image: url(../images/task_6_1.png);
}

.transbox{
	width: 191px;
	height: 301px;
	z-index: 3;
}
.left_layer{
	float: left;
	background-color: green;
	opacity:0.4;
}
.right_layer{
	float: right;
	opacity:0.4;
	background-color: red;
}
.top_right{
	float: right;
	height: 301px;
	width: 203px;
	border-top:2px solid #cc8091;
}
.top_right{
	font-family: "microsoft yahei";
}
.title{
	text-decoration: underline;
	font-variant: small-caps;
	text-transform:capitalize;
	font-size: 24px;
}
